div.show{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 22;
    section {
        &.preview {
            position: relative;
            max-width: 900px;
            width: 90%;
            margin: 50px auto;
            height: 575px;
            background: linear-gradient(45deg, #e31144, #120f27);
            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 5px 5px 6px black, -5px 5px 6px black;
            z-index: 33;
            >img {
                position: absolute;
                top: 70px;
                right: 70px;
                display: block;
                width: 150px;
            }
            div {
                span {
                    width: 80%;
                    margin: 1px 0px;
                    color: white;
                    font-size: 21px;
                    text-shadow: 1px 1px 2px black;
                    &.rating {
                        width: 90px;
                        height: 90px;
                        position: absolute;
                        background: url('../../images/star.png');
                        background-size: contain;
                        right: 3px;
                        top: 56px;
                        text-align: center;
                        font-size: 35px;
                        padding-top: 24px;
                    }
                }
                &.pics{
                    display: flex;
                    justify-content: flex-start;
                    margin: 25px ;
                    margin-top: 90px;
                    a{
                        display: block;
                        width: 100px;
                        margin-left: 23px;
                        img {
                            display: block;
                            width: 100px;
                            border: 1px solid white;
                        }
                    }
                }
                &.info {
                    display: flex;
                    flex-direction: column;
                    margin-top: 100px;
                }
            }
       
            button {
                position: absolute;
                top: 10px;
                width: 33px;
                cursor: pointer;
                right: 17px;
                padding: 7px;
                border-radius: 9px;
                &:hover {
                    background-color: red;
                    color: white;
                    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
                }
            }
            p{
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px 10px 0 0;
                margin: 0;
                padding: 15px;
                background-color: #051937;
                border-bottom: 1px solid white;
                width: 100%;
                text-align: center;
                color: white;
                font-size: 22px;
                font-weight: bold;
                text-shadow: 1px 1px 2px black;
            }
            
        }
    }    
}

@media screen and (max-width: 1000px) {
   
    div.show{
        padding: 50px;
        section {
            &.preview {
                // margin: 50px;
                div {
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 800px) {
   
    div.show{
        section {
            &.preview {
                height: 450px;
               div{
                span {
                    font-size: 15px;
                    &.rating {
                        width: 40px;
                        height: 40px;
                        right: 13px;
                        font-size: 16px;
                        top: 66px;
                        padding-top: 10px;
                    }
                }
                &.pics {
                    img {
                        width: 200px;
                    }
                }
               }
            }
        }
    }

}


@media screen and (max-width: 700px) {
   
    div.show{
        section {
            &.preview {
                button {
                    width: 20px;
                    font-size: 8px;
                    padding: 4px;
                }
                height: 380px;
                p{
                    font-size: 15px;
                }
                div{
                    span {
                        font-size: 10px;
                    }
                    &.pics {
                        img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

}



@media screen and (max-width: 500px) {
   
    div.show{
        section {
            &.preview {
                height: 320px;
                div{
                    span {
                        font-size: 7px;
                    }
                    &.pics {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 400px) {
   
    div.show{
        section {
            &.preview {
                height: 220px;
                p{
                    font-size: 10px;
                }
                div{
                    span {
                        font-size: 4px;
                    }
                    &.pics {
                        img {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }

}