* {
	box-sizing: border-box;
}

#app {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
    padding: 0;
    margin: 0;
    background: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    .nodata {
	    text-align: center;
	    font-size: 50px;
	    text-shadow: 1px 1px 2px black;
	    color: white;
	    margin-top: 170px;
    }
    .reset {
	    position: absolute;
	    width: 26px;
	    height: 26px;
	    left: 195px;
	    top: 12px;
	    color: white;
	    text-shadow: 1px 1px 2px black;
	    padding-top: 3px;
	    img {
    	    display: block;
		    height: 100%;
		    cursor: pointer;
		    position: absolute;
		    right: 0;
		    top: 0;
	    }
    }
    .filter {
	    position: absolute;
	    top: 7px;
	    left: 20px;
	    color: white;
	    width: 170px;
        background-color: #a5203b;
	    height: 33px;
	    padding: 3px 6px;
	    border: 1px solid white;
	    border-radius: 12px;
	    font-family: cursive;
	    ul {
	    	list-style: none;
    		position: absolute;
	        padding: 10px 2px;
		    width: 90%;
		    margin: 0;
	    	li{
    		    background-color: #7b0a5a;
			    display: none;
			    cursor: pointer;
			    margin-bottom: 2px;
			    width: 100%;
			    padding: 4px;
			    opacity: 0.8;
			    border-radius: 4px;
			    &:hover {
			    	opacity: 1;
			    }
	    	}
	    }
	    &:hover {
	    	li {
	    		display: block;
	    	}
	    }
    }
	button{
		&.add {
		    position: fixed;
		    top: 15px;
		    border: 1px solid #000000;
		    border-radius: 8px;
		    color: #ffffff;
		    background-color: #000000;
		    cursor: pointer;
		    right: 300px;
		    padding: 7px;
		    z-index: 2;
		    box-shadow: inset -2px -2px 4px gray;
		    &:hover {
		    	color:  #000000;
			   	background-color: #ffffff;
			   	box-shadow: inset 2px 2px 4px gray;
		    }	
		}
		&.sort {
		    position: fixed;
		    top: 19px;
		    left: 23px;
		    z-index: 4;
		    padding: 4px 20px;
		    border-radius: 7px;
		    border: 1px solid black;
		    cursor: pointer;
		    outline: none;
		    background-color: #051937;
		    color: white;
		    &:hover {
		    	border: 1px solid #051937;
		    	color: #051937;
		    	background-color: #698231;
		    }
		}
	}
	.dropdown {
        left: 749px;
	    z-index: 6;
	    top: 48px;
	    height: 200px;
	    width: 371px;
	    background-color: red;
	    position: absolute;
	    overflow-y: scroll;
	    >div {
    	    background-color: wheat;
		    text-align: center;
		    height: 35px;
	        border-bottom: 1px solid black;
            padding-top: 5px;
	        span {
        	    border: 1px solid black;
			    background-color: green;
			    height: 26px;
			    width: 26px;
			    right: 5px;
			    display: inline-block;
			    position: absolute;
			    &:hover {
			    	background-color: white;
			    }
	        }
	    }
	}
}


@media screen and (max-width: 525px) {
	body {
		.reset {
		    top: 33px;
		    width: 20px;
		    left: 133px;
		    height: 20px;
		}
		.filter {
		    top: 29px;
		    width: 110px;
		    font-size: 12px;
		    height: 26px;
		}
	}
}

